{% extends "base.html"%} 

{% block titulo %}
    INICIO
{% endblock %}
  
{% block contenido%}

<center>
<div class="padre2">
    <h1>INICIO</h1>

    <form action="{{ url_for('guardarimagenpost')}}"
    enctype="multipart/form-data" method="POST">

    <div>
        <label for="">Nombre</label>
        <input type="text" name="nombre" required>
    </div><br>
    <div>
        <label form="">Imagen</label>
        <input type="file" name="imagen" required>
    </div><br>
    <button type="submit">Guardar</button>

</form>

<a href="{{ url_for('cerrarsesion')}}"  class="btn btn-primary" role="button" aria-pressed="true">SALIR</a>
<a href="{{ url_for('guardarimagen')}}"  class="btn btn-primary" role="button" aria-pressed="true">Archivos</a>
   
</div>
</center>
{% endblock%}