{% extends "base.html"%} 

{% block titulo %}
    LOGIN
{% endblock %}
  
{% block contenido%}

<center>
<div class="padre2">
    <h1>INGRESAR</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="alert alert-danger">
            {% for messages in messages %}
                <li>{{messages}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    
    <form action="{{url_for('ingresar')}}" method="post">

        <div class="form-group">
            <label for="">Email</label>
            <input type="email" name="email" value="{{email}}" class="form-control" placeholder="ejemplo@gmail.com" required>
        </div>

        <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="password" value="{{password}}" class="form-control" placeholder="Password" required>
        </div>

        <br>
        <div class="botones">
        <button type="submit" class="btn btn-primary">INGRESAR</button>
        <a href="{{ url_for('crearUsuario')}}" class="btn btn-primary" role="button" aria-pressed="true">REGISTRARSE</a>
        <a href="{{ url_for('recuperarcontra')}}" class="btn btn-primary" role="button" aria-pressed="true">Recuerar contraseña</a>
        
    </div>      
    </form>

</div>
</center>
{% endblock%}